.captcha_recipient
  %p= "Contacting #{captcha_form.formageddon_thread.formageddon_recipient} required a spam check.  Please enter the text from the image below."
  
  %img{ :src => "/formageddon/captcha_image/show/#{captcha_form.id}" }
  %br
  = text_field_tag "captcha_solution[#{captcha_form.id}]"
