= render 'formageddon/shared/style'

.formageddon_container
  %h2 Delivery Attempt

  .result
    %strong Result: 
    = "#{@formageddon_delivery_attempt.result}"

  .delivery_thread
    %strong To:
    = @formageddon_delivery_attempt.formageddon_letter.formageddon_thread.formageddon_recipient
    %br

    %strong Title:
    = @formageddon_delivery_attempt.formageddon_letter.formageddon_thread.sender_title
    %br

    %strong First Name:
    = @formageddon_delivery_attempt.formageddon_letter.formageddon_thread.sender_first_name
    %br

    %strong Last Name:
    = @formageddon_delivery_attempt.formageddon_letter.formageddon_thread.sender_last_name
    %br

    %strong Address 1:
    = @formageddon_delivery_attempt.formageddon_letter.formageddon_thread.sender_address1
    %br

    %strong Address 2:
    = @formageddon_delivery_attempt.formageddon_letter.formageddon_thread.sender_address2
    %br


    %strong City:
    = @formageddon_delivery_attempt.formageddon_letter.formageddon_thread.sender_city
    %br

    %strong State:
    = @formageddon_delivery_attempt.formageddon_letter.formageddon_thread.sender_state
    %br

    %strong Zip:
    = @formageddon_delivery_attempt.formageddon_letter.formageddon_thread.sender_zip5
    %br

    %strong Zip+4:
    = @formageddon_delivery_attempt.formageddon_letter.formageddon_thread.sender_zip4
    %br

    %strong Subject:
    = @formageddon_delivery_attempt.formageddon_letter.subject
    %br

    %strong Message:
    = @formageddon_delivery_attempt.formageddon_letter.message
    %br


  - unless @formageddon_delivery_attempt.before_browser_state.nil?
    %h3 Before Browser State
    = render :partial => 'browser_state', :object => @formageddon_delivery_attempt.before_browser_state

  - unless @formageddon_delivery_attempt.after_browser_state.nil?
    %h3 After Browser State
    = render :partial => 'browser_state', :object => @formageddon_delivery_attempt.after_browser_state

    
    
    
    