- after_send_url ||= nil
- no_sender_redirect ||= nil
- multi_recipients ||= []
- custom_params ||= {}


- multi_recipients.each do |r|
  = hidden_field_tag "formageddon[formageddon_multi_recipients[#{r.id}]]", r.class.to_s
  
%p.sender_zip5
  = f.label :sender_zip5, label_for(:sender_zip5)
  = f.text_field :sender_zip5, :maxlength => 5

/  
  %p.sender_zip4
    = f.label :sender_zip4, label_for(:sender_zip4)
= f.hidden_field :sender_zip4

%p.sender_title
  = f.label :sender_title, label_for(:sender_title)
  = f.select :sender_title, options_for_select(Formageddon::FormageddonFormField.titles.map { |s| [s.to_s, s.to_s] })
    
%p.sender_first_name
  = f.label :sender_first_name, label_for(:sender_first_name)
  = f.text_field :sender_first_name

%p.sender_last_name
  = f.label :sender_last_name, label_for(:sender_last_name)
  = f.text_field :sender_last_name

%p.sender_email
  = f.label :sender_email, label_for(:sender_email)
  = f.text_field :sender_email

%p.sender_address1
  = f.label :sender_address1, label_for(:sender_address1)
  = f.text_field :sender_address1

%p.sender_address2
  = f.label :sender_address2, label_for(:sender_address2)
  = f.text_field :sender_address2

%p.sender_city
  = f.label :sender_city, label_for(:sender_city)
  = f.text_field :sender_city

%p.sender_state
  = f.label :sender_state, label_for(:sender_state)
  = f.select :sender_state, options_for_select(Formageddon::FormageddonFormField.states.map { |s| [s.to_s, s.to_s] })

%p.sender_phone
  = f.label :sender_phone, label_for(:sender_phone)
  = f.text_field :sender_phone
    
%p.privacy_options
  = f.label :privacy, 'Privacy Options'
  %span After sending, this letter will be viewable to:
  = f.select :privacy, Formageddon::configuration.privacy_options

%div.message_fields_wrapper
  %div.message_fields
    = f.fields_for :formageddon_letters do |fl|
      %p.subject
        = fl.label :subject, label_for(:subject)
        = fl.text_field :subject
      
      %p.message
        = fl.label :message, label_for(:message)
        = fl.text_area :message
        
      .count 
        Characters Remaining:&nbsp;&nbsp;
        %span#counter

- if thread.formageddon_recipient_id && thread.formageddon_recipient_type
  = f.hidden_field 'formageddon[formageddon_recipient_id]'
  = f.hidden_field 'formageddon[formageddon_recipient_type]'

= hidden_field_tag 'formageddon[after_send_url]', after_send_url
= hidden_field_tag 'formageddon[no_sender_redirect]', no_sender_redirect

- custom_params.keys.each do |p|
  = hidden_field_tag "formageddon[#{p}]", custom_params[p]

= f.submit "Send Message", :class => 'formageddon_submit'

%span.second_submit
  = f.submit "Send Message", :class => 'formageddon_submit'