<%= form_for(@contactable_object) do |f| %>
  <% if @contactable_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contactable_object.errors.count, "error") %> prohibited this contactable_object from being saved:</h2>

      <ul>
      <% @contactable_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
